*{ 
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
    font-size: 20px;
    /* margin-top: 30px; */
    font-weight: 30;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    color:#330033;
}

.container-table {
    margin-top: 80px;
}
#answer {
    margin-top: 40px;
    font-size: 30px;

}
  
.table-color{
    background-color: #660066;
    color: white;
}
.heading1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-calculate{
    background-color:#660066;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 6px;
    border: none;
    width: 180px;
}
#txt-remark{
    font-size: 27px;
    margin-top: 20px;

}

.btn-reset {
    background-color: #660066;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    padding: 6px;
    border: none;
    width: 180px;
    margin-left: 50px;
}
